* {
    margin: 0;
    padding: 0;
    
}
body {
    background: fixed  #1f004c ;
}
a {
    text-decoration: none;
    color:white;
}
.container {
    position:relative;
    margin: auto;
}
.container .main-nav {
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    margin: 0;
    background-color: black;
    color: #fff;
}
.container .main-nav  ul {
    font-family: 'Cairo';
    font-size: 16px;
    display: flex;
    gap: 1em;
    font-size: 18px;
    list-style: none;
}

.container .main-nav  ul a {
   
    color:White;
    transition: .5s;
    
}
.container .main-nav  ul a:hover {
    color:red;
    text-shadow: 3px 3px 3px;
}
.header {
    background-color:#24015a;
    padding: 70px 0;
    text-align: center;
}
.header h1 {
    color: white;
    font-family: 'Cairo';
    font-weight: bold;
    font-size: 26px;
}

.header h3,.header h4 {
    color: white;
    font-family: 'Cairo';
    font-weight: 200;
    /* font-size: 26px; */
}

.header .head-btns {
    margin: 25px;
}

.header .head-btns .btn {
    width: 150px;
    height: 40px;
    margin-inline: 10px;
    transition: all .5s ease;
    color: #fff;
    border: 3px solid white;
    font-family:'Montserrat', sans-serif;
    text-transform: uppercase;
    text-align: center;
    line-height: 1;
    font-size: 15px;
    background-color : transparent;
    padding: 10px , 25px;
    outline: none;
    border-radius: 4px;
}

.header .head-btns .btn:hover {
    color: #001F3F;
    background-color: #fff;
}
.header .head-btns .btn:focus {
    color: #001F3F;
    background-color: rgb(131, 131, 131);
}
.main-section {
    margin: 0;
    background-color: #1f004c;
    /* height: 70vh; */
    /* padding: 30px; */
    padding-inline: 10px;
    text-align: center;
}

.main-section h2 {
    color: white;
    font-family: 'Cairo';
    font-weight: bold;
    font-size: 26px;
}
.main-section h3 {
    color: white;
    font-family: 'Cairo';
    font-weight: bold;
    /* font-size: 26px; */
}


.main-section footer {
    margin-top: 300px;
    position:relative;
    /* text-align: left; */
    bottom:0;
    width:100%;
    height:60px;   /* Height of the footer */
    background:rgb(0, 11, 17);
}
.main-section footer ul li a {
    color:White;
    transition: .5s;
}

.main-section footer ul li a:hover {
    color:red;
    text-shadow: 3px 3px 3px;
}

.main-section .login-div {
    margin-top: 40px;
    background-color: white;
    width: 30%;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    margin-left: 34.5%;
}
.main-section .login-div form label {
    columns: black;
    font-family: "Cairo";
    font-size: 18px;
}

.main-section .login-div form #username {
    width: 85%;
    height: 25px;
    font-family: "Cairo";
}

.main-section .login-div form #password {
    width: 85%;
    height: 25px;
    font-family: "Cairo";
}

.main-section .login-div form #name {
    width: 85%;
    height: 25px;
    font-family: "Cairo";
}

.main-section .login-div form #email {
    width: 85%;
    height: 25px;
    font-family: "Cairo";
}

.main-section .login-div form #password_confirm {
    width: 85%;
    height: 25px;
    font-family: "Cairo";
}

.main-section .login-div form #auth {
    width: 85%;
    height: 25px;
    font-family: "Cairo";
}

.main-section .login-div form #days {
    width: 85%;
    height: 25px;
    font-family: "Cairo";
}

.main-section .login-div form #submit {
    width: 60%;
    height: 25px;
    transition: all .5s ease;
    margin-top: 10px;
    color: black;
    border: 2px solid black;
    font-family:'Montserrat', sans-serif;
    text-transform: uppercase;
    text-align: center;
    line-height: 1;
    font-size: 15px;
    background-color : transparent;
    padding: 10px , 25px;
    outline: none;
    border-radius: 4px;
}
.main-section .login-div form #submit:hover {
    color: white;
    background-color: #001F3F;
}

.main-section .login-div form a {  
    color: rgb(24, 101, 179);
    font-family: "Cairo";
    font-size: 16px;
}

.main-section .login-div form #checkbox {
    left: 10px;
}

[class*="col-"] {
    width: 100%;
}

.main-section .apps {
    /* display: flex; */
    justify-content: left;
    background-color: white;
    
}
.main-section .apps .apps-tool {
    padding: 10px;
    background-color: #d8d8d8;
    text-align: left;
}
.main-section .apps .apps-tool .btn {
    background-color: DodgerBlue; /* Blue background */
    border: none; /* Remove borders */
    color: white; /* White text */
    padding: 10px 14px; /* Some padding */
    font-size: 16px; /* Set a font size */
    cursor: pointer; /* Mouse pointer on hover */
}

.main-section .apps .apps-tool ul {
    display: flex;
    gap: 1em;
    list-style: none;
}

.main-section .apps .apps-list  {
    font-family: "Cairo";
}
.table-wrapper{
    font-family: "Cairo";
    display: flex;
    width: 100%;
    box-shadow: 0px 35px 50px rgba( 0, 0, 0, 0.2 );
}

.fl-table {
    border-radius: 5px;
    font-size: 12px;
    font-weight: normal;
    border: none;
    border-collapse: collapse;
    width: 100%;
    max-width: 100%;
    white-space: nowrap;
    background-color: white;
}

.fl-table td, .fl-table th {
    text-align: center;
    padding: 2px;
}

.fl-table td {
    border-right: 1px solid #f8f8f8;
    font-size: 12px;
}

.fl-table thead th {
    color: #ffffff;
    background: #4FC3A1;
}
.fl-table  ul {
    display: flex;
    gap: 0.5em;
    list-style: none;
    justify-content: center;
} 
.fl-table  ul li .btn {
    background-color: DodgerBlue; /* Blue background */
    border: none; /* Remove borders */
    color: white; /* White text */
    padding: 8px 10px; /* Some padding */
    font-size: 13px; /* Set a font size */
    cursor: pointer; /* Mouse pointer on hover */
}
textarea {
    width: 100%;
    height: 250px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 16px;
    resize: none;
    
  }
@media only screen and (max-width: 600px) {
    .main-section .login-div {
        width: 65%;
        margin-left: 52px;
    }
    .main-section .apps .apps-tool .btn {
        background-color: DodgerBlue; /* Blue background */
        border: none; /* Remove borders */
        color: white; /* White text */
        padding: 6px 10px; /* Some padding */
        font-size: 12px; /* Set a font size */
        cursor: pointer; /* Mouse pointer on hover */
    }
    .fl-table  ul li .btn {
        background-color: DodgerBlue; /* Blue background */
        border: none; /* Remove borders */
        color: white; /* White text */
        padding: 6px 10px; /* Some padding */
        font-size: 10px; /* Set a font size */
        cursor: pointer; /* Mouse pointer on hover */
    }
}