{% extends "base.html" %}
{% block content %}
<div class="header">
    <h1>LAUTHY</h1>
    <h3>the best and the most safe place to protect your programs with auth.</h3>
    <h3>Easy, Safe, Free!!</h3>
</div>
<div class="main-section">
    <h2 style="padding-top: 25px ;">New App</h2>
    <div class="login-div">
        <form action="" method="post">
        {{ form.hidden_tag() }}
        {{ form.name.label }}
        <br>
        {{ form.name }}
        <br>
        {{ form.password.label }}
        <br>
        {{ form.password }}
        <br>
        {{form.submit}}
    </form>
    </div>

</div>
{% endblock %}
